<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">
<div class="container py-4">
<div class="card">
<div class="card-header" th:text="${titulo}"></div>
<div class="card-body">
<form method="POST" th:action="@{../../client/save}" th:object="${client}" enctype="multipart/form-data">
<table>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-6"><input type="text" th:field="*{name}" class="form-control" th:errorclass="'form-control alert-danger'" required/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>

    </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-6">
        <input type="text" th:field="*{addres}" class="form-control" th:errorclass="'form-control alert-danger'" required/>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('addres')}" th:errors="*{addres}"></small>
        </div>
        </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6"><input type="email" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'" required/>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
        </div>
        </div>

        <div class="form-group row">
                <label class="col-sm-2 col-form-label">Fecha</label>
                <div class="col-sm-6"><input type="text" th:field="*{created}" class="form-control" th:errorclass="'form-control alert-danger'" required/>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('created')}" th:errors="*{created}"></small>
                </div>
                </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Foto</label>
          <div class="col-sm-6"><input type="file" name="file" class="form-control"/>
          </div>
          </div>

    <div class="form-group row">
        <div class="col-sm-6"><input type="submit" class="btn btn-primary" value="Guardar"/></div>
        </div>

</table>
<input type="hidden" th:field="*{id}" />
</form>
</div>
</div>
</div>
</div>
<footer th:replace="layout/layout :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>