<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
<div class="card">
<div class="card-header" th:text="${titulo}"></div>
<div class="card-body">
<h4  class="card-title">
<a th:href="@{formClient}" class="btn btn-primary btn-xs">crear client</a>
</h4>
<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Fecha</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Eliminar</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente: ${clientes}">
        <td ><a th:href="@{ver/} + ${cliente.id}" class="btn btn-success btn-xs" th:text="${cliente.id}">  </a></td>
        <td th:text="${cliente.name}"></td>
        <td th:text="${cliente.addres}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.created}"></td>
        <td> <a th:href="@{../factura/crear/} + ${cliente.id}" class="btn btn-success btn-xs"> Crear Factura </a></td>
        <td> <a th:href="@{formClient/} + ${cliente.id}" class="btn btn-primary btn-xs"> Editar </a></td>
        <td> <a th:href="@{eliminar/} + ${cliente.id}" class="btn btn-danger btn-xs"> Eliminar </a></td>


    </tr>
    </tbody>

</table>
<nav th:replace="paginator-nav :: paginator"></nav>
</div>
</div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>