<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			
				<img class="img-thumbnail rounded float-left"
					style="max-width: 25%;" th:src="@{'/uploads/' + ${client.photo}}"
					th:alt="${client.photo}" />

				<ul class="list-group">
					<li class="list-group-item" th:text="${client.name}"></li>
					<li class="list-group-item" th:text="${client.addres}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.created}"></li>
				</ul>

				<div th:if="${#lists.isEmpty(client.facturas)}"
                					class="alert alert-info my-4"
                					th:text="'No hay facturas asignadas para el cliente ' + ${client.name} + ' ' + ${client.addres}"></div>

                				<table th:if="${not #lists.isEmpty(client.facturas)}"
                					class="table table-bordered table-striped my-4">
                					<thead class="thead-dark">
                						<tr>
                							<th>folio</th>
                							<th>descripción</th>
                							<th>fecha</th>
                							<th>total</th>
                							<th>ver</th>
                							<th>eliminar</th>
                						</tr>
                					</thead>
                					<tbody>
                						<tr th:each="factura: ${client.facturas}">
                							<td th:text="${factura.id}"></td>
                							<td th:text="${factura.descripcion}"></td>
                							<td th:text="${factura.createAt}"></td>
                							<td th:text="${factura.total}"></td>
                							<td><a class="btn btn-primary btn-sm" th:href="@{'/factura/ver/' + ${factura.id}}" th:text="'detalle'"></a></td>
                							<td><a class="btn btn-danger btn-sm" th:href="@{'/factura/eliminar/' + ${factura.id}}" th:text="'eliminar'"
                							 onclick="return confirm('¿Estas seguro que desea eliminar la factura?');"></a></td>
                						</tr>
                					</tbody>

                				</table>


			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>